/* Main Content */

.main-content{
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#faf9f7;
}

/* Center Container */

.chat-container{
    width:100%;
    max-width:800px;

    display:flex;
    flex-direction:column;
    align-items:center;

    gap:30px;
}

/* Heading */

.title{
    font-size:38px;
    font-weight:600;
    color:#2b2b2b;

    margin:0;
}

/* Input Area */

.input-container{
    width:100%;

    display:flex;
    align-items:center;

    background:white;

    border:1px solid #e5e5e5;
    border-radius:20px;

    padding:12px;

    box-shadow:
        0 4px 20px rgba(0,0,0,0.05);
}

/* Text Input */

#messageInput{
    flex:1;

    border:none;
    outline:none;

    font-size:16px;

    padding:10px;

    background:transparent;
}

/* Button */

.input-container button{

    border:none;

    background:#2b2b2b;
    color:white;

    padding:12px 20px;

    border-radius:12px;

    cursor:pointer;

    transition:0.2s;
}

.input-container button:hover{
    transform:translateY(-2px);
}