<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candela-Chat</title>
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
<!--Sidebar-->

<div class="sidebar">
    <img src="/Assets/Communication/Chat_Conversation_Circle.svg" alt="Chats" class="sidebar-chat-icon">
    <span class="sidebar-chat-text">Chats</span>
    
    <button id="toggleSidebarBtn">
        <img src="/Assets/System/Window_Sidebar.svg" alt="Toggle Sidebar" class="sidebar-window-toggle-icon">
    </button>

</div>


<!--JS-->

    <script src="/static/js/chat.js"></script>

</body>
</html>